@font-face {
  font-family: "rubikDoodle";
  src: url(RubikDoodleShadow-Regular.ttf);
}

@font-face {
  font-family: "signika";
  src: url(SignikaNegative-VariableFont_wght.ttf);
  font-weight: bold;
}

body {
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-align: center;
  background-color: #476f94;
  color: #ecf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  font-size: 1.3em;
  margin-bottom: 5px;
  color: #fff;
  font-family: "signika";
}

select {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  border: none;
  border-radius: 8px;
  background-color: #5a7e9f;
  color: white;
  width: calc(100% - 20px);
  appearance: none;
  text-align: center;
}
input {
  padding: 10px;
  font-size: 1.2em;
  border: 1;
  border-radius: 8px;
  background-color: #567998;
  color: white;
  text-align: center;
}

select:hover {
  cursor: pointer;
}
input:hover {
  cursor: text;
}

select::placeholder,
input::placeholder {
  color: white;
  opacity: 0.3;
}

select:focus::placeholder,
input:focus::placeholder {
  color: transparent;
}

#timer {
  font-size: 5em;
  margin: 20px;
  color: white;
  font-family: rubikDoodle;
}

#youtubeContainer {
  margin-top: 20px;
  display: block;
  justify-content: center;
  align-items: center;
}

#startButton {
  padding: 10px 30px 10px 30px;
  margin: 10px;
  font-size: 1.2em;
  background-color: #ffffff;
  color: #476f94;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "signika";
}
#startButton:hover {
  background-color: #4d677e;
  color: #fff;
}

#resetButton {
  padding: 10px 30px 10px 30px;
  margin: 10px;
  font-size: 1.2em;
  background-color: #373e43;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "signika";
}
#resetButton:hover {
  background-color: #000;
  color: #fff;
}

#startYouTubeButton {
  display: flex;
  padding: 10px;
  font-size: 1.2em;
  border: 1;
  background-color: #5a7e9f;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "signika";
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#startYouTubeButton:hover {
  background-color: #cd201f;
}
#icon-button {
  width: 30px;
  height: 20px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
#youtubeInput {
  display: flex;
}

@media screen and (max-width: 800px) {
  #youtubeInput,
  #youtubeContainer,
  #startYouTubeButton {
    display: none;
  }
}

#timerContainer {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  background-color: #5a7e9f;
  transition: background-color 0.5s ease-in-out 0s;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#minutes {
  font-family: "signika";
}
#shortBreak {
  font-family: "signika";
}
option {
}
#youtubeVideoId {
  font-family: "signika";
  margin: 10px;
}
