@font-face {
  font-family: "rubikDoodle";
  src: url(RubikDoodleShadow-Regular.ttf);
}

body {
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-align: center;
  background-color: #476f94;
  color: #ecf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  color: #3498db;
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #3498db;
}

select {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  border: none;
  border-radius: 8px;
  background-color: #3498db; /* Ana renk */
  color: white;
  width: calc(100% - 20px);
  appearance: none;
  text-align: center;
}
input {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  background-color: #3498db; /* Ana renk */
  color: white;
  width: auto;
  appearance: none;
  text-align: center;
}

select:hover,
input:hover {
  cursor: pointer;
}

select::placeholder,
input::placeholder {
  color: white;
  opacity: 0.3;
  /* Placeholder rengi */
}

select:focus::placeholder,
input:focus::placeholder {
  color: transparent; /* Set the placeholder color to transparent on focus */
}

#timer {
  font-size: 5em;
  margin: 20px 0;
  color: white;
  font-family: rubikDoodle;
}

#youtubeContainer {
  margin-top: 20px;
  display: block;
}

#startButton {
  padding: 12px 20px;
  margin: 10px;
  font-size: 1.2em;
  background-color: #ffffff; /* Başlat butonu rengi */
  color: #476f94;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#startButton:hover {
  background-color: #1383ce;
  color: #000;
}

#resetButton {
  padding: 12px 20px;
  margin: 10px;
  font-size: 1.2em;
  background-color: #373e43; /* Sıfırla butonu rengi */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#resetButton:hover {
  background-color: #000;
  color: #fff;
}

#startYouTubeButton {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  background-color: #cd201f; /* YouTube başlat butonu rengi */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#startYouTubeButton:hover {
  background-color: #2980b9; /* Hover rengi */
}

@media screen and (max-width: 800px) {
  #youtubeInput,
  #youtubeContainer,
  #startYouTubeButton {
    display: none;
  }

  #startYouTubeButton {
    margin-top: 10px;
  }
}

#timerContainer {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  background-color: #5a7e9f;
  transition: background-color 0.5s ease-in-out 0s;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#youtubeInput {
  margin-top: 10px;
}
